          <option value="none">Make a Selection</option>
          <% players.forEach((player) => { %>
            <option value="<%= player.playerName %>"><%= player.playerName %></option>
          <% }); %>